.control-area {
    position: fixed;
    background-color: #242424;
    margin-top: -10px;
    padding-bottom: 7px;
    width: 100%;
}

.gap {
    height: 50px;
}

.record {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 30fr 2fr;
}

.index {
    color: grey;
}

.time {
    color: #dcdcaa;
    margin: 0px 5px;
    width: fit-content;
}

.protocol {
    color: #d1977f;
}

.target {
    color: #63b3f8;
}

.status {
    color: #75b570;
}

html {
    height: 600px;
    width: 1800px;
}